<a href="https://colab.research.google.com/github/nikhilbordekar/Python_Practice/blob/main/PYTHON_PRACTICE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Integers and Floats**

Basic Arithmetic

In [ ]:
# Addition
2+1

3

In [ ]:
# Subtraction
2-5

-3

In [ ]:
# Multiplication
2*2

4

In [ ]:
# Division
3/2

1.5

In [ ]:
# Floor Division
7//2

3

In [ ]:
# Exponentiation
2**5

32

In [ ]:
# Modulus
5%6

5

# **String**

In [ ]:
# Single word
my_first_string= 'MATHEMATICS'
my_first_string

'MATHEMATICS'

In [ ]:
# Entire phrase
phrase = 'Statistics sits at the heart of machine learning'
print(phrase)

Statistics sits at the heart of machine learning

String Indexing

In [ ]:
# Assign string as a string
string  = 'Principal Component Analysis!'
# Show first element (in this case a letter)
print(string[5])

i

In [ ]:
print(string[-2])

s

String Slicing

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s)
print(string)
print(string[:13])

Principal Component Analysis!
Principal Com

In [ ]:
# Grab everything starting from index 10 till index 18
print(string[10:])

Component Analysis!

In [ ]:
# Grab everything, but go in steps size of 1
print(string[::1])

Principal Component Analysis!

String functions and methods

In [ ]:
algorithm = 'Neural Networks'

print(algorithm)

Neural Networks

len()

In [ ]:
# Print the length of the string
len(algorithm)

15

lower()/upper()

In [ ]:
algorithm.lower()

'neural networks'

In [ ]:
algorithm.upper()

'NEURAL NETWORKS'

count()

In [ ]:
algorithm

'Neural Networks'

In [ ]:
algorithm.count('Ne')

2

find()

In [ ]:
algorithm.find('e')

1

replace()

In [ ]:
algorithm.replace(" ", "-")

'Neural-Networks'

# **List**

In [ ]:
#List can take int, float, str etc
my_list = ['A string',23,100.232,'o',True]
my_list

['A string', 23, 100.232, 'o', True]

List Indexing

In [ ]:
loss_functions = ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
print(loss_functions[0])

Mean Absolute Error

In [ ]:
print(loss_functions[-1])

Hinge Loss

List Slicing

In [ ]:
loss_functions[1:4]

['Mean Squared Error', 'Huber Loss', 'Log Loss']

In [ ]:
loss_functions[2:]

['Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
# Grab everything
print(loss_functions[:])

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

List Operations

In [ ]:
#concatenate
loss_functions + ['Kullback-Leibler']

['Mean Absolute Error',
 'Mean Squared Error',
 'Huber Loss',
 'Log Loss',
 'Hinge Loss',
 'Kullback-Leibler']

In [ ]:
#Note: This doesn't actually change the original list!
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss']

In [ ]:
# Reassign
loss_functions = loss_functions + ['Kullback-Leibler']

List Functions

1. sum(list)

In [ ]:
new_list = [6, 9, 1, 3, 5.5]

In [ ]:
sum(new_list)

24.5

2. sorted()

In [ ]:
sorted(new_list)

[1, 3, 5.5, 6, 9]

In [ ]:
#descending order
sorted(new_list,reverse=True)

[9, 6, 5.5, 3, 1]

List Methods

1. append()

In [ ]:
my_list

['A string', 23, 100.232, 'o', True]

In [ ]:
# Append to the end of the list
my_list.append('Append me!')

2. extend()

  Use the extend() method to merge a list to an existing list

In [ ]:
my_list

['A string', 23, 100.232, 'o', True, 'Append me!']

In [ ]:
my_list.extend(['Wubba','Lubba','Dub Dub'])

In [ ]:
my_list

['A string', 23, 100.232, 'o', True, 'Append me!', 'Wubba', 'Lubba', 'Dub Dub']

3. pop()

In [ ]:
my_list

['A string', 23, 100.232, 'o', True, 'Append me!', 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
#Last index is default pop element
my_list.pop()

'Dub Dub'

In [ ]:
my_list

['A string', 23, 100.232, 'o', True, 'Append me!', 'Wubba', 'Lubba']

4. remove()

In [ ]:
my_list.remove("A string")

In [ ]:
my_list

[23, 100.232, 'o', True, 'Append me!', 'Wubba', 'Lubba']

5. reverse()

In [ ]:
my_list

[23, 100.232, 'o', True, 'Append me!', 'Wubba', 'Lubba']

In [ ]:
my_list.reverse()

In [ ]:
my_list

['Lubba', 'Wubba', 'Append me!', True, 'o', 100.232, 23]

# **Tuples**

In [ ]:
# Create a tuple
my_tuple = (1,'a',3)

In [ ]:
print(my_tuple)

(1, 'a', 3)

Tuple Indexing

In [ ]:
my_tuple[0]

1

In [ ]:
my_tuple[-1]

3

Tuple Slicing

In [ ]:
my_tuple[:]

(1, 'a', 3)

In [ ]:
my_tuple[1:]

('a', 3)

Tuple Methods

1) Index

In [ ]:
my_tuple =(1,2,3,4,5,6,1,1,2)
my_tuple.index(2)

1

2) Count

In [ ]:
my_tuple.count(2)

2

Immutability

In [ ]:
my_tuple[0] = 'change'

TypeError: ignored

3) zip()

In [ ]:
city_list = ['Delhi','Patna','Cuttack','Guwahati']
river_list = ['Yamuna','Ganga','Mahanadi','Brahmaputra']

In [ ]:
zip(city_list, river_list)

In [ ]:
print(zip(city_list, river_list))

<zip object at 0x7c36e4d30500>

In [ ]:
city_and_their_rivers = list(zip(city_list,river_list))

In [ ]:
city_and_their_rivers

[('Delhi', 'Yamuna'),
 ('Patna', 'Ganga'),
 ('Cuttack', 'Mahanadi'),
 ('Guwahati', 'Brahmaputra')]

# **Sets**

In [ ]:
my_list = [1 ,2, 23, 3 ,56]
my_set = set(my_list) # unordered Property
my_set # Hash Table

{1, 2, 3, 23, 56}

In [ ]:
# We add to sets with the add() method
my_set = set() # empty Set
my_set.add('a')

In [ ]:
my_set = {5,7,9,3}

In [ ]:
# add multiple elements
add_list = [2, 3, 4]
my_set.update(add_list)
print(my_set)

{2, 3, 4, 5, 7, 9}

Remove()

In [ ]:
non_empty_set = {1, 5, 6, 73, 2}

In [ ]:
non_empty_set.remove(5)

In [ ]:
non_empty_set

{1, 2, 6, 73}

union()

In [ ]:
# Initialize sets A and B
A = {1, 2, 3, 4, 5}

B = {4, 5, 6, 7, 8}

In [ ]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

intersection()

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
A & B

{4, 5}

In [ ]:
A.intersection(B)

{4, 5}

Difference()

In [ ]:
A = {1, 2, 3, 4, 5}

B = {4, 5, 6, 7, 8}

In [ ]:
A - B

{1, 2, 3}

In [ ]:
A.difference(B)

{1, 2, 3}

In [ ]:
B - A

{6, 7, 8}

In [ ]:
B.difference(A)

{6, 7, 8}

symmetric_difference()

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [ ]:
A^B

{1, 2, 3, 6, 7, 8}

In [ ]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

# **Dictionaries**

# Dictionaries

* We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python.


* If you're familiar with other languages you can think of these Dictionaries as hash tables.


* So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.


* A Python dictionary consists of a key and then an associated value. That value can be almost any Python object. So a dictionary object always has elements as key-value pairs


## Constructing a Dictionary


* A dictionary object is constructed using curly braces <code>{key1:value1,key2:value2,key3:value3}</code>

In [ ]:
marvel_dict = {'Name':'Thor','Place':'Asgard','Weapon' : 'Hammer', 1:2, 3 : 'power', 'alibies' : ['Ironman','Captain America'], 'abc' : {1:2, 4:5}}

In [ ]:
# Call values by their key
marvel_dict['Place']

'Asgard'

In [ ]:
type(marvel_dict)

dict

In [ ]:
marvel_dict['Name']

'Thor'

# **Dictionary Methods**

keys()

In [ ]:
marvel_dict.keys()

dict_keys(['Name', 'Place', 'Weapon', 1, 3, 'alibies', 'abc'])

values()

In [ ]:
list(marvel_dict.values())

['Thor',
 'Asgard',
 'Hammer',
 2,
 'power',
 ['Ironman', 'Captain America'],
 {1: 2, 4: 5}]

items()

In [ ]:
# Get the keys and their corresponding values
list(marvel_dict.items()) # Dict in the list form

[('Name', 'Thor'),
 ('Place', 'Asgard'),
 ('Weapon', 'Hammer'),
 (1, 2),
 (3, 'power'),
 ('alibies', ['Ironman', 'Captain America']),
 ('abc', {1: 2, 4: 5})]

update()

In [ ]:
marvel_dict.update({'Place':'Earth'})
marvel_dict

{'Name': 'Thor',
 'Place': 'Earth',
 'Weapon': 'Hammer',
 1: 2,
 3: 'power',
 'alibies': ['Ironman', 'Captain America'],
 'abc': {1: 2, 4: 5}}

# Python Comments



*   Comments are very important while writing a program. They describe what is going on inside a program, so that a person looking at the source code does not have a hard time figuring it out.

*   You might forget the key details of the program you just wrote in a month's time. So taking the time to explain these concepts in the form of comments is always fruitful.


*   In Python, we use the hash (#) symbol to start writing a comment.
It extends up to the newline character. Comments are for programmers to better understand a program. Python Interpreter ignores comments.

In [ ]:
# This is a comment
# print('Hello')
print('Hello')

Hello



*   We can have comments that extend up to multiple lines. One way is to use the hash(#) symbol at the beginning of each line. For example:

In [ ]:
# This is a long comment
# and it extends
# to multiple lines



*   Another way of doing this is to use triple quotes, either ''' or """.

*   These triple quotes are generally used for multi-line strings. But they can be used as a multi-line comment as well. Unless they are not docstrings, they do not generate any extra code.

In [ ]:
'''This is also a
perfect example of
ahjcdjh
sdjbdkjas
mnbscjsab
bkjabfa
multi-line comments'''

a = 3
print(a)

3

# Indentation in Python

It is important to keep a good understanding of how indentation works in Python to maintain the structure and order of your code. We will touch on this topic again when we start building out functions!

# **Loops**

### For - Loop

In [ ]:
for i in range(1,10):
  print(i, end=" ")

print()
# Negative looping
for i in range(10,0,-1):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9
10 9 8 7 6 5 4 3 2 1

In [ ]:
for i in range(1,10):
  print(i, end="")

123456789

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

### Enumerate

In [ ]:
list = ['a','b','c','d']

for i, char in enumerate(list):
  print(i, char)

0 a
1 b
2 c
3 d

### While - Loop

In [ ]:
i=10
while(i>0):
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1

- The `break` statement is used to exit a loop prematurely.
- The `pass` statement is a no-operation statement. It does nothing and allows the loop to continue.
-The `continue` statement is used to skip the current iteration of the loop and continue with the next iteration.

In [ ]:
#Break
i = 0
while i < 5:
    print(i)
    if i == 3:
        break
    i += 1

0
1
2
3

In [ ]:
#Pass
i = 0
while i < 5:
    if i == 2:
        pass
    else:
        print(i)
    i += 1

0
1
3
4

In [ ]:
#Continue
i = 0
while i < 5:
    i += 1
    if i == 2:
        continue
    print(i)

1
3
4
5

## Functions and Methods

Certainly! Let's start by defining functions and methods and then discuss their differences and scope.

**Function:**
- A function is a block of reusable code that performs a specific task or a set of tasks.
- Functions are defined using the `def` keyword in Python, followed by the function name, parameters (if any), a colon, and the function body.
- Functions are called by their name, followed by parentheses `()`, which may contain arguments.
- Functions can be defined at the module level or within other functions.

Example of defining and calling a function:

```python
def greet(name):
    print(f"Hello, {name}!")

greet("Alice")  # Calling the function
```

**Method:**
- A method is a function that is associated with an object or a class.
- Methods are called on objects and can access and modify the object's data.
- Methods are defined within classes and are used to define the behavior of objects of that class.
- Methods are accessed using the dot notation `object.method()`.

Example of defining and calling a method:

```python
class Dog:
    def bark(self):
        print("Woof!")

my_dog = Dog()
my_dog.bark()  # Calling the method on an object
```

**Difference between Function and Method:**
1. **Association with Objects:**
   - A function is not associated with any particular object or class.
   - A method is always associated with an object or a class. It operates on the data contained within that object or class.

2. **Syntax:**
   - Functions are defined using the `def` keyword.
   - Methods are defined within classes and use the `def` keyword as well but are associated with that class.

3. **Calling:**
   - Functions are called by their name.
   - Methods are called on objects or classes and use the dot notation (`object.method()` or `class.method()`).

**Scope:**
- The scope of a function or method defines where it can be accessed or called within a program.
- In Python, there are two main types of scope: global scope and local scope.
- Functions and methods have their own local scope, which means variables defined inside them are only accessible within that function or method.
- Variables defined outside of any function or method have global scope and can be accessed from anywhere in the program.

Example of scope:

```python
x = 10  # Global variable

def my_function():
    y = 5  # Local variable
    print(x)  # Accessing the global variable
    print(y)  # Accessing the local variable

my_function()
print(x)  # Accessing the global variable outside the function
# print(y)  # This would result in an error because y is a local variable
```

In summary, functions are independent blocks of code that can be defined and called globally, while methods are functions associated with objects or classes and operate on their data. Both functions and methods have their own local scope, and variables within them have limited visibility. Global variables, on the other hand, are accessible from anywhere in the program.

## **Pandas**

**Series and DataFrames** are fundamental data structures provided by the **Pandas** library in Python for data manipulation and analysis. They are built on top of NumPy arrays and are particularly useful for handling structured data.

### Series:

- A **Series** is a one-dimensional labeled array capable of holding data of various types (numeric, string, etc.).
- It is similar to a column in a spreadsheet or a single column in a database table.
- A Series has two main components: the data (values) and the index (labels for the data).
- You can create a Series using the `pd.Series()` constructor.

Creating a Series from a list:
```python
import pandas as pd

data = [1, 2, 3, 4, 5]
series = pd.Series(data)
```

Creating a Series from a dictionary:
```python
data = {'a': 1, 'b': 2, 'c': 3}
series = pd.Series(data)
```

### DataFrame:

- A **DataFrame** is a two-dimensional labeled data structure with columns of potentially different types.
- It is similar to a spreadsheet or SQL table, where data is organized in rows and columns.
- A DataFrame has both row labels (index) and column labels.
- You can create a DataFrame using the `pd.DataFrame()` constructor.

Creating a DataFrame from a list of lists:
```python
import pandas as pd

data = [[1, 'Alice'], [2, 'Bob'], [3, 'Charlie']]
df = pd.DataFrame(data, columns=['ID', 'Name'])
```

Creating a DataFrame from a dictionary of lists:
```python
data = {'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']}
df = pd.DataFrame(data)
```

Creating a DataFrame from a list of dictionaries:
```python
data = [{'ID': 1, 'Name': 'Alice'}, {'ID': 2, 'Name': 'Bob'}, {'ID': 3, 'Name': 'Charlie'}]
df = pd.DataFrame(data)
```

## Function and Method

### Functions and Methods

Let's cover some fundamental DataFrame operations:

**1. Creating DataFrames:**

```python
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22]}
df = pd.DataFrame(data)
print(df)
```

**2. Accessing Data:**

```python
# Accessing a single column
names = df['Name']

# Accessing multiple columns
subset = df[['Name', 'Age']]

# Accessing rows using iloc (integer location)
row = df.iloc[1]  # Access the second row (index 1)
```

**3. Filtering Data:**

```python
# Filtering rows based on a condition
young_people = df[df['Age'] < 30]
```

**4. Adding and Removing Columns:**

```python
# Adding a new column
df['City'] = ['New York', 'San Francisco', 'Los Angeles']

# Removing a column
df.drop('City', axis=1, inplace=True)
```

**5. Aggregation and Summary Statistics:**

```python
# Calculating mean age
mean_age = df['Age'].mean()

# Grouping and aggregating data
grouped = df.groupby('City')['Age'].mean()
```

**6. Sorting Data:**

```python
# Sorting by a specific column
sorted_df = df.sort_values(by='Age', ascending=False)
```

**7. Merging DataFrames (Joining):**

```python
# Merging two DataFrames
data1 = {'ID': [1, 2, 3], 'Score1': [85, 92, 78]}
data2 = {'ID': [2, 3, 4], 'Score2': [88, 75, 90]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
merged_df = pd.merge(df1, df2, on='ID', how='inner')
```

**8. Handling Missing Data:**

```python
# Checking for missing values
missing_values = df.isnull()

# Dropping rows with missing values
df.dropna(inplace=True)

# Filling missing values
df.fillna(0, inplace=True)
```

**9. Pivot Tables:**

```python
# Creating a pivot table
pivot_table = df.pivot_table(index='City', values='Age', aggfunc='mean')
```

**10. Saving and Loading Data:**

```python
# Saving DataFrame to a CSV file
df.to_csv('data.csv', index=False)

# Loading data from a CSV file
loaded_df = pd.read_csv('data.csv')
```

Here are explanations of several important DataFrame methods and functions in Pandas:

1. **`head(n)` and `tail(n)`:**
   - `head(n)` returns the first `n` rows of the DataFrame.
   - `tail(n)` returns the last `n` rows of the DataFrame.
   
2. **`index` and `columns`:**
   - `index` returns the index (row labels) of the DataFrame.
   - `columns` returns the column labels of the DataFrame.

3. **`info()`:**
   - `info()` provides a concise summary of the DataFrame, including the data types, non-null values, and memory usage.

4. **`rename(columns=)` and `rename(index=)`:**
   - `rename(columns=)` renames columns in the DataFrame.
   - `rename(index=)` renames index (row labels) in the DataFrame.

5. **`describe()`:**
   - `describe()` generates summary statistics of the DataFrame's numeric columns, including count, mean, standard deviation, min, max, and quartiles.

6. **`iloc[row_index, col_index]` and `loc[row_label, col_label]`:**
   - `iloc` and `loc` allow for selecting rows and columns by integer position (`iloc`) or by labels (`loc`).

7. **`strptime()` and `strftime()`:**
   - `strptime()` converts a string to a datetime object based on a specified format.
   - `strftime()` formats a datetime object as a string based on a specified format.

8. **`unique()`:**
   - `unique()` returns an array of unique values in a column, excluding duplicates.

9. **`nunique()`:**
   - `nunique()` returns the number of unique values in a column.

10. **`value_counts()`:**
    - `value_counts()` counts the occurrences of unique values in a column and returns a Series with counts.

11. **`isnull()` and `fillna()`:**
    - `isnull()` returns a DataFrame of the same shape with `True` where values are missing (NaN) and `False` otherwise.
    - `fillna()` fills missing (NaN) values with specified values or methods.

## **Numpy**

**NumPy** is a powerful Python library for numerical and scientific computing. It provides support for large, multi-dimensional arrays and matrices, as well as a variety of high-level mathematical functions to operate on these arrays. NumPy is a fundamental library for data analysis, machine learning, and scientific research in Python.

### Importing NumPy:

You can import NumPy in your Python code using the following statement:

```python
import numpy as np
```

### Array Inspection Methods:

NumPy provides several methods to inspect arrays:

1. **`shape` and `ndim`:**
   - `shape` returns a tuple representing the dimensions of the array.
   - `ndim` returns the number of dimensions of the array.

```python
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6]])
print(arr.shape)  # Output: (2, 3)
print(arr.ndim)   # Output: 2
```

2. **`dtype`:**
   - `dtype` returns the data type of elements in the array.

```python
arr = np.array([1, 2, 3], dtype=float)
print(arr.dtype)  # Output: float64
```

3. **`size` and `itemsize`:**
   - `size` returns the total number of elements in the array.
   - `itemsize` returns the size (in bytes) of each element in the array.

```python
arr = np.array([[1, 2, 3], [4, 5, 6]])
print(arr.size)      # Output: 6
print(arr.itemsize)  # Output: 8 (assuming 64-bit system)
```

### Creating ndarrays:

NumPy provides several ways to create ndarrays:

1. **`np.array()`:**
   - Create an ndarray from a list or iterable.

```python
arr = np.array([1, 2, 3])
```

2. **`np.zeros()`:**
   - Create an ndarray filled with zeros.

```python
zeros = np.zeros((2, 3))
```

3. **`np.ones()`:**
   - Create an ndarray filled with ones.

```python
ones = np.ones((2, 3))
```

4. **`np.arange()`:**
   - Create an ndarray with regularly spaced values.

```python
seq = np.arange(0, 10, 2)  # [0, 2, 4, 6, 8]
```

### Indexing and Slicing:

NumPy arrays support various ways of indexing and slicing:

```python
arr = np.array([[1, 2, 3], [4, 5, 6]])

# Access a specific element
element = arr[0, 1]  # 2

# Slicing
row = arr[1, :]  # [4, 5, 6]
column = arr[:, 2]  # [3, 6]
```

### Array Manipulation Methods:

NumPy provides functions to manipulate arrays:

1. **`reshape()`:**
   - Change the shape of an array.

```python
arr = np.array([1, 2, 3, 4, 5, 6])
reshaped = arr.reshape(2, 3)
```

2. **`flatten()` and `ravel()`:**
   - `flatten()` returns a new 1D array.
   - `ravel()` returns a flattened 1D view of the original array.

```python
flattened = arr.flatten()
raveled = arr.ravel()
```

3. **`transpose()`:**
   - Transpose rows and columns of an array.

```python
transposed = arr.transpose()
```

4. **`concatenate()`:**
   - Join arrays along an existing axis.

```python
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
concatenated = np.concatenate((arr1, arr2))
```

These are just a few of the many methods and functions available in NumPy for working with arrays. NumPy is a vast library with extensive documentation, making it a powerful tool for scientific computing and data analysis in Python.